
.dashboard #content {
    width: 1200px;
}
#content {
    padding: 0px 0px;
}
.colMS {
    margin-right: 0px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}