{% extends "admin/change_form.html" %}
{% load static %}

{% block content %}
    {{ block.super }}

    <div class="overlay" id="overlay">
        <div class="overlay-content">
            <div class="overlay-text" id="overlay-text">Complete</div>
            <div class="overlay-message" id="overlay-message">Click anywhere to cancel</div>
        </div>
    </div>
    <style>
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
       /*    z-index: 9999; */
            display: none; 
        }
  
        .overlay-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .overlay-text {
            color: red; /* Change color to red */
            font-size: 80px;
            font-weight: bold;
           /*  transform: rotate(-45deg); Rotate text by 45 degrees */
            margin-bottom: 20px; /* Adjust spacing */
        }

        .overlay-message {
            color: white;
            font-size: 18px;
        }
    </style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var statusField = document.getElementById("id_status");
        var overlay = document.getElementById("overlay");
        var overlayDisplayed = false;
      
     
        if (statusField.value === "received"&& !overlayDisplayed) {
            overlay.style.display = "block";
            overlayDisplayed = true;
           
        }
        else {
            overlay.style.display = "none";
        }



  // Listen for status changes and update the overlay display
        statusField.addEventListener("change", function() {
                if (statusField.value.toLowerCase() === "received") {
                    overlay.style.display = "none";
                } else {
                    overlay.style.display = "none";
                }
            });

         // Click on overlay to hide it
         overlay.addEventListener("click", function(event) {
                event.stopPropagation(); // Prevent the click event from bubbling up
                overlay.style.display = "none";
            });

    });
</script>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'inventory/js/overlay.js' %}"></script>
{% endblock %}